#options-section {
	display: flex;
    flex-wrap: wrap;
}

.option-card {
    flex: 1 0 200px;
    margin: 10px;
    padding: 20px;
    border: dashed 2px blue;
    background-color: beige ;
    border-radius: 6px;
    box-shadow: 2px 2px grey;
}

#order-section {
	display: flex;
    flex-direction: column;
}

.order-card {
    flex: 1 0 40px;
    margin: 10px;
    padding: 20px;
    border: dashed 2px blue;
    background-color: aliceblue ;
}
